#contact {
    width: 400px;
    text-align: left;
    
  }

  /* Footer Layout */
.gradient {
  height:2px;
  background: linear-gradient(98deg, rgba(2,0,36,1) 0%, rgba(12,9,121,1) 0%, rgba(0,212,255,1) 100%);
}

.footer {
  text-align: center;
  width: 400px;
  margin:0 auto;
  padding: 3rem 0;
}

.footer p:last-child{
  margin-top: 3rem;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0.5rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  font-size: 1.5rem;
}


/* footer .icon {

  color: var(--aqua);
}

footer .icon:hover {
  font-size:120%;
  color: var(--magenta);
} */